AUTH_SECRET="YOUR_AUTH_SECRET"
AUTH_TRUST_HOST="true"

RESEND_API_KEY="YOUR_RESEND_API_KEY"
RESEND_DOMAIN="YOUR_RESEND_DOMAIN"

URL="http://clinqo.in"
NEXT_PUBLIC_URL="http://clinqo.in"


DATABASE_URL="postgresql://postgres:YourSecretPassword@localhost:5434/postgres"