AUTH_SECRET="YOUR_AUTH_SECRET"
AUTH_TRUST_HOST="true"

RESEND_API_KEY="re_8TbYHS74_P9mA5tYBEUFDq13J3v2khb29"
RESEND_DOMAIN="n6t.in"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="db7v3zuwf"
CLOUDINARY_API_KEY="987756384219267"
CLOUDINARY_API_SECRET="wt9vRZwmFXVuiUpQauTEwBfdJMQ"

URL="http://localhost:3000"
NEXT_PUBLIC_URL="http://clinqo.in"


DATABASE_URL="postgresql://postgres:YourSecretPassword@localhost:5434/postgres"