AUTH_SECRET="YOUR_AUTH_SECRET"
AUTH_TRUST_HOST="http://localhost:3000"

RESEND_API_KEY="YOUR_RESEND_API_KEY"
RESEND_DOMAIN="YOUR_RESEND_DOMAIN"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="db7v3zuwf"
CLOUDINARY_API_KEY="987756384219267"
CLOUDINARY_API_SECRET="wt9vRZwmFXVuiUpQauTEwBfdJMQ"

URL="http://localhost:3000"

